<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
        <meta charset="utf-8" />
        <title>TRAVELL PLANNER</title>
        <script src="https://kit.fontawesome.com/01442e3d81.js" crossorigin="anonymous"></script>
</head>

<body>
  <body>
      <header>
          <div class = "double-line-box">
              <h1>TRAVELL PLANNER</h1>
          </div>
      </header>

      <main>
          <section>
              <form>
                 <input id="city" type="text" name="input" value="" placeholder="City" />
                 <input id="date" type="date" name="input" value="" placeholder="Departing date" />
        
                 <button id="search">Search</button>
              </form>
          </section>

          <section id="" class="double-line-box">
              <h2><strong>The Results:</strong></h2>
              <br />
              <div id = "results">
                <dev id='cityImg'></dev>
                      <br />
                    
                        <h2 id='tripText'class='inline-block'></h2>
                        <div id='flagImg'></div>
                     
                      <p id='weather'></p>
                      <dev id ="weatherImg"></dev>
                      <h3 id='Departing'></h3>
                      <p id='countDown'></p>
                  </dev>
              </div>
          </section>
      </main>

      <footer></footer>
</body>
</html>



